@import url("//cdn.web-fonts.ge/fonts/alk-rounded-mtav-med/css/alk-rounded-mtav-med.min.css");
#htmlp {width: 1052px; height: 462px;top: 287px; display: inline;margin:70px;} 

.main{width: 115px; height: 34px; top: -458px;left: 2537px;display: inline;
font-weight: 700;color:#8D81FF ;margin: 35px;
}

.news{width: 144px;height: 34px; top: 191px;left: 104px ;display: inline;font-weight: 700;
color: #8D81FF;margin:30px;
}

.contact{width: 133px; height: 34px; top: 143px; left: 104px;
color: #4E6FAE;font-weight:700 ;margin:30px;
}

.htmllogo{width: 223px ; height: 58px; top: 59px;left: 104px ;}

.date{width: 31px;height: 34px;top: 320px;left: 116px;
background-color:#5012D5 ; font-size: 24px; 
line-height: 30px;color: #84FF81;
text-align: center;
}

.month{width:70px;height: 34px;top: 1182px;left: 102px;
    size: 24px;color: #8D81FF;

}
.description1{font-family: "ArchyEDT-Bold", sans-serif;
size: 16px;line-height: 19.2px;color:#4E6FAE;}
.description2{
    size: 16px;line-height: 19.2px;color:#4E6FAE;}
    .description3{
        size: 16px;line-height: 19.2px;color:#4E6FAE;}

.title{width: 578px;height: 34px;top: 424px;left: 104px;
    font-weight: 700; line-height: 24px;size: 20px;
    color: #4E6FAE;

}

.fb{
    width: 50px ;height: 50px;top: 785px;left: 104px;display: inline;
}

.yt{
    width: 71px ;height: 49px ;top:786px ;left: 236px ;display: inline;
}

.line{
font-size: 50px;color:black;display:inline;margin:3px;}

#cinfo{
width: 474px ;height: 34px ;top: -288px ;left: 2324px;size: 36px ;
 ;font-weight: 700;color: #4E6FAE ; font-family: "BPG Nino Elite Exp", sans-serif;
}

#address{
    width: 307px;height: 24px ;top: 489px ;left: 567px ;size: 20px ;
    line-height: 24.14px ;
}

#number{
    width: 217px;height: 34px ;top: 536px ;left: 612px ;size:20px ;
    line-height: 24.14px ;
}

#mail{
    width: 300px ;height: 34px ;size: 20px ;
    line-height: 24.14px ;display:inline;
}

#map{width: 544px;height: 349px;
}

.fbyt{
margin: 30px;width: 168px;height: 59px;display:inline;

}
.dd{width: 1269px;height:535px ;background-color: #E7E7E7;
}
#dd2,iframe{
display: inline-block;width: 300px;

}

#news2{color: #4E6FAE;size:26px;}

.lin{
    width: 4px;height:23px;         
}

.title1{color: #3f4145;size:20px;line-height: 24.14px;

}

#search{width: 77px;height: 77px;display: inline;

}

.text{ color: #7E8898; line-height: 19.31px;width: 335px;font-size: small;margin: auto;
}

#tick{width:89px ;height:89px ;display: inline-block;}

.box1{background-color:#E7E7E7 ;;height: 192px;margin:10px;
display: inline-block;width: 500px;text-align: left;

}
#pic3{width: 447px; ;height: 280px; ;top: -211px; ;left: -757px; ;display: inline


}
.descr{width: 778px;height: 281px;

}

#img2{display: inline-block;

}
.description4{
    width: 778px; ;height: 280px; 
}
#ai{
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

